{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script>
        const minimum_number_players = {{ minimum_number_players }};
        setInterval(updateStopWatch, 1000); // every second call updateStopWatch
        let new_game_time = 5
        let interval_answer = 0

        function updateStopWatch(){
            let numbers = $('#stop_watch').text().split(':')
            let hour = parseInt(numbers[0])
            let minute = parseInt(numbers[1])
            let second = parseInt(numbers[2])
            second += 1
            if (second === 60) {
                second = 0;
                minute += 1;
            }
            if (minute === 60) {
                minute = 0;
                hour += 1
            }
            let temp = hour.toString() + ':';
            if (minute < 10){
                temp += '0'
            }
            temp += minute.toString() + ':';
            if (second < 10){
                temp += '0'
            }
            temp += second.toString();
            $('#stop_watch').text(temp);

            const game_id = parseInt($('#game_id').val())
            $.ajax({
                type: "GET",
                url: 'http://127.0.0.1:8000/players/?game='+game_id+'&status=started',
                success: function (players) {
                    if(players) {
                        let player_string = ''
                        for (let i=0; i<players.length; i++){
                            temp = i == 0 ? players[i].user.username : ', ' + players[i].user.username;
                            player_string += '<span style="font-size: 14px;">' + temp +'</span>'
                        }
                        $('#player_list').innerHTML = player_string;

                        const game_started = $('#game_started').val();
                        if (game_started == 'false') {
                            if (players.length >= minimum_number_players) {
                                window.location = 'http://127.0.0.1:8000/play_game/?game='+game_id+'&round=1';
                            }
                        }
                    }
                }
            });
        }
        function handleNext(game_id, round_id) {
            const choice_id = $('input[name=choices]:checked').val()
            if (choice_id) {
                window.location = 'http://127.0.0.1:8000/play_game/?game='+game_id+'&round=' + (round_id + 1);
            } else {
                alert('You must submit an answer first!');
            }
        }
    </script>
    <input type="hidden" id="game_id" value="{{ game.id }}">
    <input type="hidden" id="round_id" value="{{ round.id }}">
    <input type="hidden" id="hide_submit" value="false">
    <input type="hidden" id=" hide_next" value="true">
    <input type="hidden" id="wrong_answer" value="false">
    <input type="hidden" id="alert_time" value="0">
    {% if players|length >= minimum_number_players %}
        <input type="hidden" id="game_started" value="true">
    {% else %}
        <input type="hidden" id="game_started" value="false">
    {% endif %}
    <div class="container">
        <div class="jumbotron row">
            <div class="col-md-9">
                <h1>Hello, {{user.username}}</h1>
                <p>Trivia: Fun Online Trivia Game!</p>
            </div>
            <div id="stop_watch" class="col-md-3 text-right " style="vertical-align: middle;font-size: 60px">0:00:00</div>
        </div>
    </div>

    <div class="container" style="width:50%">
    <h2>Game #{{ game.id }}</h2>
    <div>
        <span style="font-size:16px;" id="player_list">Players:</span>
        {% for player in players %}
            <span style="font-size: 14px;">{% if forloop.counter > 1 %}, {% endif %}{{ player.user.username }}</span>
        {% endfor %}
    </div>
    <br>
    {% if players|length < minimum_number_players %}
        <div style="vertical-align: middle">
            <img style="width:50px;height: 50px;" src='{% static "spinner.gif"%}' alt="'waiting"/>
            <span style="margin-left: 10px;">Please wait for more player(s) to start the game...</span>
        </div>
    {% else %}
        <div>
            <h4>Question {{ round.order }}: {{ question.description }}</h4>
            <div style="margin-bottom: 50px">
                <fieldset id="choices">
                    {% for choice in choices %}
                        <div style="margin-left: 50px;margin-top:10px;margin-bottom:10px; font-size: medium">
                            <input id="id_{{ choice.id }}" type="radio" value="{{ choice.id }}" name="choices">
                            <label style="margin-left:10px;" for="id_{{ choice.id }}">{{ choice.description }}</label>
                        </div>
                    {% endfor %}
                </fieldset>

            </div>
            <button id="'btnSubmit" class="btn btn-lg btn-primary" onclick="sendAnswer({{ player.id }},{{ round.id }})">Submit</button>
            <button id="'btnNext" class="btn btn-lg btn-primary" style="margin-left: 200px;" onclick="handleNext({{ game.id }},{{ round.id }})">Next Question</button>
            <div id="'game_over" style="display: none;font-size: 20px;">Wrong Answer! Game OVer!</div>
            <div id="result" style="display: none;">
                <div style="font-size: 20px;margin-top: 30px;">Results</div>
                {% for choice in choices %}
                    <div style="margin-top:10px;margin-bottom:10px; font-size: medium">
                        <span style="margin-left:10px;">{{ choice.description }} :</span>
                        <span id="answer_{{ choice.id }}"></span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            let hide_submit = $('#hide_submit').val();
            let hide_next = $('#hide_next').val();

            if(hide_submit == 'true'){
                $('#btnSubmit').hide();
            }
            if(hide_next == 'false'){
                $('#btnNext').show();
            }
        })
        function sendAnswer(player_id, round_id) {
            const choice_id = $('input[name=choices]:checked').val()

            if (choice_id) {
                $('#btnSubmit').hide();
                $('#hide_submit').val('true')

                $.ajax({
                    type: "POST",
                    url: 'http://127.0.0.1:8000/answers/',
                    data: {
                        'player_id': player_id,
                        'round': round_id,
                        'choice': parseInt(choice_id)
                    },
                    success: function (answer) {
                        if(answer){
                            interval_answer = setInterval(updateResult, 1000)
                            if(answer.correct_answer == true){
                                $('#btnNext').show();
                                $('#hide_next').val('false');
                            } else {
                                $('#game_over').show();
                                $('#wrong_answer').val('true');
                                updateResult();
                            }
                        }
                    }
                }) ;
            } else {
                alert('You must submit an answer first!');
            }
        }
        function updateResult(){
            const round_id = parseInt($('#round_id').val());

            $.ajax({
                type: "GET",
                url: 'http://127.0.0.1:8000/answers/?round=' + round_id,
                success: function (answers) {
                    if(answers){
                        let choices = {};
                        for (let i=0; i<answers.length; i++){
                            let answer = answers[i];
                            if (answer.choice in choices){
                                choices[answer.choice] += 1;
                            } else {
                                choices[answer.choice] = 1;
                            }
                        }

                        for (let choice in choices) {
                            $('#answer_' + choice).text(choices[choice].toString() + ' players answered this choice.');
                        }


                        $('#result').show();
                        let alert_time = parseInt($('#alert_time').val());
                        alert_time += 1;
                        $('#alert_time').val(alert_time.toString());

                        const wrong_answer = $('#wrong_answer').val();
                        if(alert_time == 2 && wrong_answer == 'true'){
                            alert('Wrong Answer! Game is Over!');
                            window.location = 'http://127.0.0.1:8000/';
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}
